<a href="https://colab.research.google.com/github/ogechi-nwachukwu/fyyur-app/blob/main/Week_5_ADAP_01_FE9586788893.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import sqlite3
# Set display options to show all columns
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('job_change_data.csv')
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,Oct-49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

##2

In [4]:
#Use iloc to select the first 10 rows and specific columns like Experience and Education_Level.

df.iloc[:10, [8, 6]]

  experience education_level
0          9        Graduate
1          5        Graduate
2         <1     High School
3         11         Masters
4        >20        Graduate
5         10         Masters
6         <1        Graduate
7        >20        Graduate
8         14        Graduate
9          3        Graduate

##3

In [5]:
#Group data by Relevant_Experience and calculate the averageCity_Development_Index for each group.

avg_by_CDI = df.groupby('relevent_experience')['city_development_index'].mean()
print(avg_by_CDI)

relevent_experience
Has relevent experience    0.831000
No relevent experience     0.809828
Name: city_development_index, dtype: float64

##4

In [6]:
#Group by Company_Size and count the number of unique entries in Last_New_Job.

Unique_count_by_LNJ = df.groupby('company_size')['last_new_job'].nunique()
print(Unique_count_by_LNJ)

company_size
100-500      6
1000-4999    6
10000+       6
50-99        6
500-999      6
5000-9999    6
<10          6
Oct-49       6
Name: last_new_job, dtype: int64

##5

In [7]:
#Analyze the frequency distribution of Company_Type using value_counts().

company_type_counts = df['company_type'].value_counts(dropna=False)

print(company_type_counts)

company_type
Pvt Ltd                1141
NaN                     634
Public Sector           127
Funded Startup           97
Early Stage Startup      65
NGO                      53
Other                    12
Name: count, dtype: int64

##6

In [8]:
#Identify numerical columns with missing values and fill them using the mean

df.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [11]:
df['experience'] = df['experience'].replace({'>20': 21,
                                             '<1': 0,'nan':0,
                                             'inf':0}).astype(float)

In [12]:
df['experience'] = df['experience'].fillna(df['experience'].mean())

In [13]:
df['last_new_job'].unique()

array(['1', 'never', '>4', '2', '4', '3', nan], dtype=object)

In [14]:
df['last_new_job'] = df['last_new_job'].replace({'>4': 3,'never':0,
                                             'nan':0}).astype(float)

In [15]:
df['last_new_job'] = df['last_new_job'].fillna(df['last_new_job'].mean())

In [16]:
df['company_size'].unique()

array(['<10', nan, 'Oct-49', '10000+', '100-500', '50-99', '1000-4999',
       '500-999', '5000-9999'], dtype=object)

In [17]:
df['company_size'] = df['company_size'].replace({
    '<10': 9,
    '100-500': 500,
    '500-999': 999,
    '1000-4999': 4999,
    '5000-9999': 9999,
    '10000+': 10000,
    '50-99': 99,
    'Oct-49': 49,
    ' NaN' : 0,
    'nan': 0
}).astype(float)

/tmp/ipython-input-17-4166528022.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['company_size'] = df['company_size'].replace({

In [18]:
df['company_size'] = df['company_size'].fillna(df['company_size'].mean())

In [19]:
df.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  0
company_size                0
company_type              634
last_new_job                0
training_hours              0
dtype: int64

##7

In [20]:
#Drop rows where more than 50% of data is missing, and document the impact on dataset size.
threshold = df.shape[1] * 0.5
df_cleaned = df[df.isnull().sum(axis=1) <= threshold]

new_rows = df_cleaned.shape[0] - df.shape[0]
print(f"Number of rows dropped: {new_rows}")

Number of rows dropped: 0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  1621 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2129 non-null   float64
 9   company_size            2129 non-null   float64
 10  company_type            1495 non-null   object
 11  last_new_job            2129 non-null   float64
 12  training_hours          2129 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 216.4+ KB

There was no row with up to 50% missing data, so, no row was dropped

##8

In [22]:
#Query the dataset to extract rows where Experience > 10 and Company_Size ==7.
df.query('experience > 10 and company_size == 7')

Empty DataFrame
Columns: [enrollee_id, city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours]
Index: []

##9

In [23]:
#Create a new feature Experience_Gap by subtracting Last_New_Job from Experience.
Experience_Gap = df['experience'] - df['last_new_job']
df['Experience_Gap'] = Experience_Gap
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,Experience_Gap
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9.0,9.000000,NaN,1.0,21,8.0
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5.0,2558.100863,Pvt Ltd,1.0,98,4.0
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,0.0,2558.100863,Pvt Ltd,0.0,15,0.0
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11.0,49.000000,Pvt Ltd,1.0,39,10.0
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,21.0,10000.000000,Pvt Ltd,3.0,72,18.0

##10

In [24]:
#Normalize City_Development_Index to a 0–1 scale and explain the benefits of normalization.
scaler = MinMaxScaler()
df['city_development_index'] = scaler.fit_transform(df[['city_development_index']])
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,Experience_Gap
0,32403,city_41,0.756487,Male,Has relevent experience,Full time course,Graduate,STEM,9.0,9.000000,NaN,1.0,21,8.0
1,9858,city_103,0.942116,Female,Has relevent experience,no_enrollment,Graduate,STEM,5.0,2558.100863,Pvt Ltd,1.0,98,4.0
2,31806,city_21,0.351297,Male,No relevent experience,no_enrollment,High School,NaN,0.0,2558.100863,Pvt Ltd,0.0,15,0.0
3,27385,city_13,0.756487,Male,Has relevent experience,no_enrollment,Masters,STEM,11.0,49.000000,Pvt Ltd,1.0,39,10.0
4,27724,city_103,0.942116,Male,Has relevent experience,no_enrollment,Graduate,STEM,21.0,10000.000000,Pvt Ltd,3.0,72,18.0

##11

In [29]:
#Create new column cdi_per and merge it to the original dataframe using pd.merge and analyze the combined insights.

cdi_per = pd.DataFrame({
    'enrollee_id': df['enrollee_id'],  # Include enrollee_id
    'cdi_per': df['city_development_index'] * 100
})

merged_df = pd.merge(df, cdi_per, how='left')

print(merged_df.columns)

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'Experience_Gap', 'cdi_per'],
      dtype='object')